html {
	font-size: 2vh;
	font-family: 'PT Sans', Arial, sans-serif;
	width: 100%;
	height: 100%;
}

body {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

p {
	font-size: 2vh;
	margin: 0;
	line-height: 1.4;
}

a {
	color: inherit;
	font-style: italic;
}
a:hover {
	text-decoration: none;
}